:root {
  --dark-brown: #5e2f00;
  --med-brown: #f9ebdc;
  --light: #f6f3f0;
  --med-green: #b7cdbe;
  --deep-green: #86c18c;
  --deeper-green: #5dac65;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-color: var(--light);
}

.navbar {
  background-color: var(--med-green);
}

.header {
  background-color: var(--med-brown);
}

.header h1 {
  color: var(--dark-brown);
}

.btn-primary {
  background-color: var(--deep-green);
  border-color: var(--deeper-green);
}

.btn-primary:hover {
  background-color: var(--deeper-green);
}

.btn-primary:focus {
  background-color: var(--deeper-green);
}

.cocktail h2 {
  color: var(--dark-brown);
}

.drink-img {
  height: 250px;
  width: 250px;
}

/* modal background color */
.modal {
  display: none; /* Hidden by default */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content for no results */
.modal-content {
  background-color: var(--med-brown);
  color: var(--dark-brown);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid var(--deeper-green);
  width: 80%; /* Could be more or less, depending on screen size */
  font-size: 30px;
}

/* The modal Close Button */
.close {
  color: var(--dark-brown);
  float: right;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--deeper-green);
  text-decoration: none;
  cursor: pointer;
}

#text-logo {
  width: 25vw;
  min-height: 7vh;
  min-width: 20vh;
}

#pic-logo {
  margin-left: 5vw;
}

.footer {
  background-color: var(--med-green);
}

.footer h3 {
  color: var(--dark-brown);
}

#hidden {
  display: none;
}
